.signup {
  width: 100%;
  position: relative;
  .signup-box {
    width: 100%;
    display: flex;
    .left-box {
      width: 50%;
      padding: 6.5vmax;
      padding-top: 5vmax;
      form {
        width: 70%;
        .input-box {
          display: flex;
          flex-direction: row;
          position: relative;
          margin-top: 2vmax;
          border-bottom: 2px solid rgb(89 89 89);
          label {
            position: absolute;
            top: 0.7vmax;
            color: rgb(117 117 117);
          }
          input {
            outline: none;
            border: none;
            padding: 1vmax 0vmax 0.7vmax 0vmax;
            width: 100%;
            background-color: #ffffff00;
            z-index: 1;
          }
          input:focus ~ label,
          input:valid ~ label {
            transform: translateY(-85%);
            font-size: 1vmax;
          }
          .phoneinput .form-control:focus,
          .phoneinput .form-control:active {
            outline: none;
            box-shadow: none;
            border-color: transparent;
          }
          .phoneinput {
            background-color: #ffffff;
            input {
              padding-left: 3.5vmax;
              outline: none;
              border: none;
            }
            .flag-dropdown {
              background-color: #ffffff;
              border: none;
              z-index: 11;
            }
          }
          .phoneinput-label {
            background-color: #ffffff;
            z-index: 11;
            top: -0.1vmax;
            padding-bottom: 1vmax;
            width: 100%;
          }
          .lable-above {
            transform: translateY(-50%);
            font-size: 1vmax;
            padding-bottom: 0.8vmax;
          }
          .phoneinput-label:hover {
            cursor: text;
          }
        }
        .errors-bar {
          border-bottom: 2px solid rgb(255, 0, 0);
        }
        .error-message {
          font-size: 0.95vmax;
          color: #680101;
          display: flex;
          align-items: center;
          svg {
            margin-right: 0.5vmax;
            background-color: #ff0000;
            border-radius: 50%;
            color: white;
          }
        }
        .otp-para {
          font-size: 1vmax;
          margin-top: 0.5vmax;
          font-weight: 500;
          color: rgba(134, 134, 134, 0.811);
        }
        .buy-button-box {
          display: flex;
          justify-content: center;
          margin-top: 1vmax;
        }
        .buy-button {
          border: none;
          padding: 0.5vmax 4vmax;
          border-radius: 20px;
          background-color: var(--dark-blue);
          color: #ffff;
          font-weight: 600;
        }
        .buy-button:hover {
          background-color: var(--blue);
        }
      }
      .navigation-to-esixting {
        width: 70%;
        text-align: center;
        font-size: 1.2vmax;
        margin-top: 1.5vmax;
        font-weight: 500;
        color: rgba(134, 134, 134, 0.811);
        span {
          font-weight: 700;
          font-size: 1.2vmax;
          color: var(--darkest-blue);
          text-decoration: none;
          margin: 0 1vmax;
        }
        span:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .hide{
      display: none;
    }
    .right-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
    .steps-container {
      background-color: #f5faff;
      padding: 2rem;
      border-radius: 8px;
      width: 100%;
      margin: auto;
      margin-right: 2vmax;
      margin-top: 6vmax;
      font-family: Arial, sans-serif;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .steps-container h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #333;
    }

    .highlight {
      color: #e97300;
      font-weight: bold;
      font-size: 3vmax;
    }

    .steps-list {
      display: flex;
    }

    .step-badge {
      background-color: #007bff;
      color: white;
      width: 100%;
      padding: 0.3rem 0.8rem;
      border-radius: 20px;
      font-size: 0.8rem;
      font-weight: bold;
      margin-right: 1rem;
    }

    .step p {
      margin: 0;
      color: #333;
    }

    .dotted-line {
      height: 2rem;
      border-left: 4px dotted #007bff;
      margin-left: 2rem;
    }
    .steps-details {
      margin-left: 1vmax;
      p {
        margin-bottom: 1.1vmax;
      }
    }
    .note {
      font-size: 0.9rem;
      color: #555;
    }

    .note strong {
      font-weight: bold;
    }
  }
  .display-hidden {
    display: none !important;
  }
  .otp-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5555558e;
    width: 100%;
    height: 100vh;
    .otp-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--dark-blue);
      color: #ffff;
      padding: 4vmax;
      width: 30%;
      border-radius: 10px;
      h5 {
        font-size: 1.4vmax;
        font-weight: 600;
        margin-bottom: 2vmax;
        text-align: center;
      }
      .otp-input {
        input {
          width: 28px !important;
          height: 28px !important;
          font-size: 3vmax;
          margin-right: 8px !important;
          padding: 0.1vmax;
        }
        input:focus {
          outline: none;
          border: none;
        }
      }
      p {
        color: red;
        font-weight: 700;
        font-size: 1vmax;
        margin-top: 2vmax;
      }
      button {
        margin-top: 1vmax;
        border: none;
        padding: 0.5vmax 2vmax;
        background-color: green;
        color: #ffff;
        border-radius: 20px;
        font-weight: 600;
      }
      span {
        font-size: 1vmax;
        margin-top: 0.5vmax;
        text-decoration: underline;
      }
      span:hover {
        cursor: pointer;
      }
    }
  }
}

/* Orders details */
.order-details {
  width: 100%;
  padding: 1vmax 4vmax 1vmax 2vmax;
  display: flex;
  justify-content: space-between;
  .left-order-part {
    width: 60%;
    padding: 2vmax;
    .name-heading + * + * {
      color: var(--light-blue);
      font-size: 1.1vmax;
    }

    .order-form {
      .input-box {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 2vmax;
        border-bottom: 2px solid rgb(89 89 89);
        label {
          position: absolute;
          top: 0.7vmax;
          color: rgb(117 117 117);
          transition: all 0.3s ease;
        }

        input,
        select {
          outline: none;
          border: none;
          padding: 1vmax 0vmax 0.7vmax 0vmax;
          width: 100%;
          background-color: #ffffff00;
          z-index: 1;
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input.filled ~ label,
        input:focus ~ label,
        input:valid ~ label,
        select:focus ~ label,
        select:valid ~ label,
        input[type="date"] ~ label {
          transform: translateY(-85%);
          font-size: 1vmax;
        }
        .phoneinput .form-control:focus,
        .phoneinput .form-control:active {
          outline: none;
          box-shadow: none;
          border-color: transparent;
        }
        .phoneinput {
          background-color: #ffffff;
          input {
            padding-left: 3.5vmax;
            outline: none;
            border: none;
          }
          .flag-dropdown {
            background-color: #ffffff;
            border: none;
            z-index: 11;
          }
        }
        .phoneinput-label {
          background-color: #ffffff;
          z-index: 11;
          top: -0.1vmax;
          padding-bottom: 1vmax;
          width: 100%;
        }
        .lable-above {
          transform: translateY(-50%);
          font-size: 1vmax;
          padding-bottom: 0.8vmax;
        }
        .phoneinput-label:hover {
          cursor: text;
        }
      }

      .errors-bar {
        border-bottom: 2px solid rgb(255, 0, 0);
      }

      .error-message {
        font-size: 0.95vmax;
        color: #680101;
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.5vmax;
          background-color: #ff0000;
          border-radius: 50%;
          color: white;
        }
      }
      .dlv-heading {
        margin: 0;
        margin-top: 1.5vmax;
        margin-bottom: 0.3vmax;
      }
      .dilevery-add {
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }
        input {
          margin-left: 1vmax;
        }
        label {
          margin-left: 0.5vmax;
        }
      }
      .recaptcha {
        font-size: 1vmax;
        margin-top: 1vmax;
      }

      .order-submit-button-div {
        display: flex;
        justify-content: center;
        .order-submit-button {
          border: none;
          border-radius: 20px;
          padding: 0.5vmax 4vmax;
          background-color: var(--dark-blue);
          color: #ffff;
          font-weight: 600;
          font-size: 1.4vmax;
        }
        .order-submit-button:hover {
          background-color: var(--light-blue);
        }
      }
    }
  }

  .right-order-part {
    width: 40%;
    display: flex;
    justify-content: center;
    .order-part-box {
      background-color: #a4a4a414;
      height: fit-content;
      width: 65%;
      hr {
        margin: 1vmax 0;
      }
      .product-summary-heading {
        background-color: var(--lightest-blue);
        color: #ffff;
        font-size: 1.2vmax;
        padding: 1vmax;
        font-weight: 700;
      }
      ul {
        list-style: none;
        padding: 0 1vmax;
      }
      li {
        margin: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.15vmax;
        margin-bottom: 0.5vmax;
      }
      .text-bold {
        font-weight: 700;
      }
      .coupon-box {
        p {
          margin: 0;
          font-size: 1vmax;
          padding-left: 1vmax;
          font-weight: 600;
          span {
            color: var(--light-blue);
            margin-left: 0.5vmax;
            text-decoration: none;
          }
          span:hover {
            cursor: pointer;
          }
        }
        .apply-coupon {
          color: green;
          font-weight: 400;
        }
        .apply-coupon:hover {
          cursor: pointer;
        }
      }
      .free-items {
        border: 2px dashed rgb(227, 159, 33);
        padding: 1vmax 0;
      }
    }
  }
}
